<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="progress-wrapper">
    <h1>Pomodoro Timer</h1>
    <div class="timer" *ngIf="isStartTimer && counter>=0; else templateName">
      {{counter | formatPipe}}
    </div>
    <ng-template #templateName>
      <p class="timer">25:00</p>
    </ng-template>
    <round-progress [current]="current" [max]="max" [color]="'#ff4e4d'" background="white" [radius]="125" [stroke]="10"
      [clockwise]="true" [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="0">
    </round-progress>

    <div *ngIf="isStartButton || counter==0; else buttonTemplate">
      <input type="image" (click)="start()" src="assets/icons/play.png" width="50" height="50">
    </div>
    <ng-template #buttonTemplate>
      <input type="image" (click)="pause()" src="assets/icons/pause.png" width="50" height="50">
    </ng-template>

  </div>

</body>

</html>
